:root{
    font-size: 62.5%;
    --orange-btm-color:rgba(255, 123, 71, 1);
    --footer-bg-color:rgba(37, 43, 66, 1);
    --light-text-color:rgba(255, 255, 255, 1);
    --header-bg-color:rgba(246, 246, 246, 1);
    --videopage-bg-color:rgba(243, 243, 243, 1);
    --secbtm-bg-color:rgba(13, 92, 99, 1);
    --textA-color:rgba(37, 43, 66, 1);
    --second-text-color:rgba(115, 115, 115, 1);
    --page-bg-whitecolor:rgba(250, 250, 250, 1);
    --rewblock-bg-color:rgba(222, 222, 222, 1);
}
body{
    font-family: "Montserrat";
    font-style: normal;
}
header{
    background-color: var(--header-bg-color);
}
a{
    text-decoration: none;
    color: var(--textA-color);
}
.menu{
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.logo{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: var(--textA-color);
}
.menu-linf{
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.5rem;
    color: var(--second-text-color);

}
.title-page{
    background-color:var(--page-bg-whitecolor);
    text-align: center;

}
h1{
    display: none;
}
h2{
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.7rem;
}
.h2-text{
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--second-text-color);
}
.headline-btn{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--light-text-color);
    background-color: var(--orange-btm-color);
    border-radius: 3.7rem;
}
.headline-btn2{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color:var(--secbtm-bg-color);
    border: 1px solid var(--secbtm-bg-color);
    border-radius: 3.7rem;
}
.main-page{
    background-color: var(--light-text-color);
    text-align: center;
}
.main-page-text,.video-rext-page,.text-reviews-page{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--second-text-color);
}
h3{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
}
.video-page{
    background: var(--page-bg-whitecolor);
    text-align: center;
}

.reviews-page{
    background: var(--page-bg-whitecolor);
    text-align: center;
}
.star-win{
    margin:0 4.35rem;
    background: var(--light-text-color);
    border: 1px solid var(--rewblock-bg-color);
    border-radius: 5px;
    text-align: left;
}
.stars,.foto-name{
    margin-left: 3.5rem;
}

.name,.profession{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--orange-btm-color);

}
.profession{
    color: var(--textA-color);
}
blockquote{
    margin-left: 3.5rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    color:var(--second-text-color);
}
.forms-page{
    text-align: center;
}
input[type=text] {
    border: 2px solid var(--second-text-color);
    border-radius: 0.1rem;
}


.form-btm{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--light-text-color);
    background-color: var(--orange-btm-color);
    border-radius: 0.5rem;
}

.text-h3{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--textA-color);
}

footer{
    background-color: var(--footer-bg-color);
    color:var(--light-text-color);
}
h4{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
}


.info-item{
    color: var(--light-text-color);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.last-form{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.8rem;
}
.last-btm-form{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--light-text-color);
    background-color:var(--orange-btm-color);
}